node_modules
package-lock.json
.vscode
.DS_Store
# jokesRouter.delete("/delete/:_id", deleteJoke);
# export const deleteJoke = (req: Request, res: Response) => {
#     Joke.deleteOne({ _id: req.params._id })
#         .then((result) => {
#             res.json({ result: result });
#         })
#         .catch((error) => {
#             res.status(400).json({ ...error, message: error.message });
#         });